<!DOCTYPE html>
<html>

  <body>
   
    <header>
      <h1>ChessV1</h1>
    </header>
    {% if ui.errmsg is none %}
      <center>
        <table style=:width:100%">
          {% for row in ui.board %}
            <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </center>
    {% else %}
      <center>
        <table style=:width:100%">
          {% for row in ui.board %}
            <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
            </tr>
          {% endfor %}
        </table>
      <p>{{ ui.errmsg }}</p>
      </center>
    {% endif %}
    <br>
    <center>
    <form action="/play" method="post">
      <label for="move">{{ ui.inputlabel }}</label>
      <input type="text" id="move" name="move">
      <br>
      <br>
        <input type="submit" value="move">
    </form>
    </center>

    <br>
    <center>
        <form action="/undo" method="post">
        <input type="submit" value="undo">
        </center>
    </br>


  </body>
</html>