<!DOCTYPE html>
<html>

  <body>
   
    <header>
      <h1>ChessV1</h1>
    </header>
    {% if ui.errmsg is none %}
      <center>
        <table style=:width:100%">
          {% for row in ui.board %}
            <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </center>
          <br>
        <center>
        <p>Enter k for Knight, b for Bishop, r for Rook, q for Queen</p>
        <form action="/play" method="post">
        <label for="promote">{{ ui.inputlabel }}</label>
        <input type="text" id="promote" name="promote">
        <br>
        <br>
            <input type="submit" value="promote">
        </form>
        </center>
    {% else %}
      <center>
        <table style=:width:100%">
          {% for row in ui.board %}
            <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
            </tr>
          {% endfor %}
        </table>
    <p>{{ ui.errmsg }}</p>
    <form action="/play" method="post">
      <label for="promote">{{ ui.inputlabel }}</label>
      <input type="text" id="promote" name="promote">
      <br>
      <br>
        <input type="submit" value="promote">
    </form>
      </center>
    {% endif %}
    <br>
    


  </body>
</html>